@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.app {
    margin: 15vh 10vw;
}

.app h1 {
    margin-bottom: 5vh;
    color: #E13636;
}

.rooms-container {
    margin-top: 6vh;
    box-shadow: 0px 0px 5px 0px rgba(94,94,94,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(94,94,94,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(94,94,94,0.75);
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 10px;
}

.rooms-container .room,
.rooms-container .room:focus,
.rooms-container .room:active {
    display: flex;
    flex-direction: column;
    background: #AAF240;
    width: 150px;
    padding: 10px 15px;
    font-size: 0.9rem;
    border: none;
    border-radius: 7px;
    text-decoration: none;
    color: inherit;
}

.rooms-container .room:hover {
    cursor: pointer;
    background: #32A213;
    color: #FFF;
    transition: 0.3s ease;
}

.rooms-container .room span:first-child {
    margin-bottom: 5px;
}

.rooms-container .room span span {
    margin-right: 5px;
}

.slots-container h1 {
    margin-bottom: 20px;
}

.slots-container form {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #929292;
    border-bottom: 1px solid #929292;
    border-radius: 12px;
    width: 250px;
    padding-bottom: 45px;
}

.slots-container form input {
    margin: 15px 0;
    width: 200px;
    outline: none;
    border-radius: 12px;
    border: 1px solid #A4A4A4;
    padding: 10px 15px;
    font-size: 0.9rem;
}

.slots-container form button {
    width: 150px;
    padding: 10px 0;
    border: 1px solid #A4A4A4;
    border-radius: 7px;
    background: #727272;
    color: #FFF;
    font-size: 0.9rem;
}

.slots-container form button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.slots-container .slots {
    margin-top: 6vh;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10px;
    column-gap: 40px;
}

.slots-container .slots button {
    height: 40px;
    font-size: 1rem;
    border: 1px solid #A4A4A4;
    border-radius: 12px;
    background: #85CF29;
    color: #FFF;
}

.slots-container .slots button:hover {
    cursor: pointer;
    transform: scale(1.02);
    background: #C7FA19;
    color: #000;
    transition: 0.3s ease-in-out;
}